[Bb]in/
[Oo]bj/
[Tt]est[Rr]esults/
[Ll]og/
[Ll]ogs/
[Oo]ut/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.suo
*.user
*.userosscache
*.sln.docstates

[Nn]u[Gg]et/
*.nupkg
packages/
**/packages/*
!**/packages/build/

[Tt]humbs.db
*.cab
*.msi
*.msm
*.msp
*.cache
*.temp

.vs/
.vscode/
*.swp
*_ReSharper.*
*.sass-cache/
*.csproj.user
*.resharper

.idea/
*.sln.iml

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Aa]ssets/[Aa]ssetStoreTools*
*.unityproj
*.csproj
*.sln
*.userprefs
*.pidb
*.booproj
*.svd


*.coverage
*.coveragexml

publish/
*.pubxml

appsettings.Development.json
appsettings.Local.json
appsettings.*.json
appsettings.*.yaml
secrets.json
**/.local

.bin/
.history/

*.db
*.sqlite
*.mdf
*.ldf

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.log
*.tmp
*.pid
*.pid.lock